div{
    text-align: center;
    background-color: #2C5135;
    border: 3px solid #918151;
    border-radius: 5%;
    padding: 10px;
    margin: 50px auto;
    width: 50%;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
}

h1 {
    color: #E84C3D;
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 18px;
    color: #F0EAD6;
    font-family: 'Verdana', sans-serif;
}

body {
    background-color: #0D2114;
}

#imagen {
    margin-top: 20px;
    border-radius: 10px;
    filter: drop-shadow(200px #918151);
    width: 100%;
    max-width: 300px;
}

#tarjeta:hover, #tarjeta:focus {
    transform: scale(1.04);
    outline: none;
}
